<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Footer</title>
    <style>


    </style>
</head>

<body>
<!-- Footer 프래그먼트 정의 -->
<div class="footer bg-dark py-5 mt-5" th:fragment="footer">
    <div class="container">
        <!-- Footer 내용 -->
        <p class="m-0 text-center text-white">문의 메일: admin@meatmeet6kae.com</p>
        <p class="m-0 text-center text-white">&copy; 2024 육깨비. All Rights Reserved.</p>
    </div>
</div>
</body>
</html>