<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>내 정보 보기</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- 공통 CSS 파일 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet" />

</head>
<body>

<!-- Navigation (공통 헤더) -->
<div th:replace="~{common/header :: header}"></div>

<!-- 내 정보 보기 컨테이너 -->
<div class="container mt-5">
    <div class="row justify-content-center">


        <!-- 내 정보 내용 -->
        <div class="col-md-6">
            <!-- 제목 -->
            <h2 class="text-center mb-1" >내 정보</h2>

            <!-- 구분선 -->
            <div class="d-flex justify-content-center mb-3">
                <hr style="width: 100%; border: 1px solid #888; margin: 0;">
            </div>

            <!-- 내 정보 테이블 -->
            <table class="table text-center mt-1 info-table">
                <tbody>
                <tr>
                    <th>아이디</th>
                    <td th:text="${user.loginId}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${user.name}"></td>
                </tr>
                <tr>
                    <th>별명</th>
                    <td th:text="${user.nickname}"></td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td th:text="${user.gender == 'M' ? '남성' : '여성'}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="${user.addr}"></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${user.email}"></td>
                </tr>
                <tr>
                    <th>이메일 수신</th>
                    <td th:text="${user.emailYn}"></td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td th:text="${#temporals.format(user.createDate, 'yyyy년 MM월 dd일')}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 버튼 -->
            <div class="d-flex justify-content-center mt-5 mb-3">
                <a href="/users/updateUserForm" class="btn btn-dark me-2" style="width: 120px;">정보 수정</a>
                <a href="#" class="btn btn-outline-danger" style="width: 120px;"
                   onclick="event.preventDefault(); if(confirm('정말 탈퇴하시겠습니까?')) document.getElementById('deactivate-form').submit();">탈퇴하기</a>
                <!-- 탈퇴 폼 -->
                <form id="deactivate-form" th:action="@{/users/deactivate}" method="post" style="display: none;"></form>
            </div>
        </div>
    </div>
</div>

<!-- 공통 푸터 -->
<div th:replace="~{common/footer :: footer}"></div>

</body>
</html>
