<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 수정</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!-- 헤더 포함 -->
<div th:replace="~{common/header :: header}"></div>

<!-- 내 정보 수정 -->
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <h1 class="text-center mb-4">내 정보 수정</h1>

        <!-- 구분선 추가 -->
        <div class="d-flex justify-content-center">
            <hr style="width: 100%; border: 1px solid #000;">
        </div>

        <!-- 수정 폼 -->
        <form th:action="@{/users/updateUser}" method="post">
            <div class="mb-3">
                <label class="form-label">아이디:</label>
                <input type="text" class="form-control" th:value="${user.loginId}" disabled />
            </div>

            <div class="mb-3">
                <label class="form-label">이름:</label>
                <input type="text" class="form-control" name="name" th:value="${user.name}" />
            </div>

            <div class="mb-3">
                <label class="form-label">성별:</label>
                <select class="form-select" name="gender">
                    <option value="M" th:selected="${user.gender == 'M'}">남성</option>
                    <option value="F" th:selected="${user.gender == 'F'}">여성</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">주소:</label>
                <input type="text" class="form-control" name="addr" th:value="${user.addr}" />
            </div>

            <div class="mb-3">
                <label class="form-label">이메일:</label>
                <input type="email" class="form-control" name="email" th:value="${user.email}" />
            </div>

            <div class="mb-3">
                <label class="form-label">이메일 수신:</label>
                <select class="form-select" name="emailYn">
                    <option value="Y" th:selected="${user.emailYn == 'Y'}">수신</option>
                    <option value="N" th:selected="${user.emailYn == 'N'}">차단</option>
                </select>
            </div>

            <!-- 버튼들 -->
            <div class="d-flex justify-content-center mt-3 mb-5">
                <button type="submit" class="btn btn-dark w-100 me-2">저장</button>
                <button type="button" class="btn btn-outline-secondary w-100" onclick="location.href='/users/showUserInfo'">뒤로가기</button>
            </div>
        </form>
    </div>
</div>

<!-- 푸터 -->
<div th:replace="~{common/footer :: footer}"></div>

</body>
</html>
