<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MeatMeet6kae</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <style>

    </style>
</head>

<body>

<div class="container">

    <!-- 헤더 -->
    <div th:replace="~{common/header :: header}"></div>

    <!-- 메인 컨텐츠 -->
    <div>

        <p>
         <h1>content</h1>
        <p>
            <img th:src="@{/images/main6kaepic.jpg}" alt="이미지가 로드 실패." width="300" height="auto" />
        </p>
        </p>

    </div>

    <!-- 푸터 -->
    <div th:replace="~{common/footer :: footer}"></div>
</div>
<!-- /container -->

</body>
</html>
